doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/login", title="Login") Login
    | &nbsp;|| 
    a(href="/create", title="Sign up") Sign up

    block content