doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/login", class='navigation_button login') Login
    a(href="/create", class='navigation_button signup', title="Sign up") Register
    a(href="/logout", class='navigation_button logout', title="Log out") Logout
    br
    block content