extends layout

block content
  br
  p To register, please enter a new username and password  
  div.createbox

    form(name="create", action="/register", method="post")
      input(type="text", class='inputbox', name="username", placeholder="New username")
      br
      input(type="password", class='inputbox', name="password", placeholder="Password")
      br
      input(type="submit", class='mac_button', value="Create")

    p Custom message: #{msg}